.parallax-container {
  position: relative;
  height: 100vh; /* Full viewport height */
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}

.parallax-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateZ(-1px) scale(2);
}

.content {
  position: relative;
  z-index: 1;
  /* Ensure content is on top of the background */
}

.hachi-maru-pop {
  font-family: "Hachi Maru Pop", serif;
  font-weight: 300;
  font-size: xx-large;
  font-style: italic;
}

.ccode {
  font-family: "Cascadia Code";
}